<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ayubo_Drive.Properties.Settings.rentConnectionString"
            connectionString="Data Source=LAPTOP-1J2FUBSU\MSSQLSERVER02;Initial Catalog=rent;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Ayubo_Drive.Properties.Settings.daytourConnectionString"
            connectionString="Data Source=LAPTOP-1J2FUBSU\MSSQLSERVER02;Initial Catalog=daytour;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>